{% extends 'base.html' %}
{% load static %}
{% block title%}
Order Details
{% endblock %}
{% block content %}


<body>
    <hr>
    <div class="container">
        <h1 style="text-align: center;">About TTMarket</h1>
        <hr>
        <h3>The Best Equipment, Lowest Prices</h3>
        <p>We have more than six thousand original professional table tennis products stocked in our warehouse that we’re determined to sell at the best prices possible. Some of the brands we represent include Donic, Tibhar, DHS, Nittaku, Yasaka, Xiom, Stiga, and numerous others.</p>

        <h5>Quality Guarantee</h5>
        <p>We’ve sold products all over the world and served tens of thousands of satisfied clients from every corner of the earth. We acquire the products directly from the manufacturers and can proudly guarantee the quality and authenticity of all our products.</p>


        <p>Enjoy our High-Quality Racket-Assembly Service for Free
        <p>All orders come with a highly professional complimentary racket assembly service, free of charge!</p>


        <h5>Satisfaction Guarantee</h5>
        <p>We also offer a 30-day satisfaction guarantee. If for any reason you’re not happy with the products you received, you may submit a claim for a full refund within a month of receiving your parcel. We simply ask that you return us the products in their original, unused condition. Custom or specialty items (assembled blades, for example) and products purchased from the Clearance category are not covered by this policy.</p>


        <h5>Excellent and Quick Customer Service</h5>
        <p>Would you like a blade with a specific weight? No problem. Need help with choosing the best equipment to fit your playing level and style? Our dedicated team of trained customer service agents is ready to answer any questions that you may have and make sure you’re completely happy with your purchase. You see, we’re not simply an online table tennis store - we’re table tennis enthusiasts ourselves!</p>
        <hr>
        <h5>- Free Shipping Worldwide on orders above €80</h5>
        <hr>
        <h5>- Secure Payments</h5>
        <hr>
        <h5>- We use high level data protection on payment transactions</h5>
        <hr>
    </div>
</body>
{% endblock %}
