{% extends 'base.html' %}
{% load static %}
{% block title%}
HOME | TTMarket
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <img style="height: 200px; width: 100%" src="{% static 'img/banner.jpg' %}" alt="">
        </div>
    </div>
    <div class="py-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                    <h1 class="text-capitalize font-weight-bold">
                        All Products
                    </h1>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-9 mx-auto col-md-6 col-lg-3">
            <div class="card mb-4" style="border-color: transparent;">
                <div class="p-4">
                    <a href="{{product.get_url}}">
                        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                    </a>
                </div>
                <div class="card-footer d-flex justify-content-between" style="background: transparent; border-color: transparent;">
                    <p class="font-weight-bold mb-0">
                        {{product.name}}
                    </p>
                </div>
                <hr>
                <div style="padding-bottom: 7px; padding-right: 10px; padding-left: 5px;" class="d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                        <a href="{% url 'add_cart' product.id %}">
                            <button type="button" name="button" class="btn btn-outline-success add-btn update-cart">
                                Add to Cart
                            </button>
                        </a>
                        <a class="btn btn-outline-warning" href="{{product.get_url}}">View</a>
                    </div>
                    <div>
                        <h5 class="text-danger font-italic mb-0">
                            <span class="mr-1">$</span>{{product.price}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}