{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}
On Delivery
{% endblock %}

{% block content %}
<div style="background-color: #FFFFFF;" class="container">
    <hr>
    <h2 style="text-align: center;">Where do you want us to ship your order?</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
            <div class="text-center">
            <table class="table cart_table">
                <thead class="cart_thead">
                    <tr>
                        <th style="text-align: center" colspan="4">
                            Please review your cart before placing the order
                        </th>
                    </tr>
                </thead>
                {% for cart_item in cart_items %}
                <tr>
                    <td class="text-center">
                        <a href="{{cart_item.product.get_url}}">
                            <img src="{{cart_item.product.image.url}}" width="100" height="100" alt="">
                        </a>
                    </td>
                    <td class="text-left">
                        {{cart_item.product.name}}
                        <br>
                        SKU: {{cart_item.product.id}}
                        <br>
                        Unit Price: ${{cart_item.product.price}}
                        <br>
                        Qty: {{cart_item.quantity}} x ${{cart_item.product.price}}
                    </td>
                    <td>
                        ${{cart_item.sub_total}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr>
        <div class="text-center">
                        Your total is: <h4><strong>${{total}}</strong></h4>
        </div>
        <hr>

        <button type="submit" class="btn btn-success btn-block rounded-0 py-2 mt-3">Place Order</button>
    </form>
</div>


{% endblock %}